.DS_Store
Simulator/obj
Simulator/bin
config/200.csv-NaoState0.UncompensatedTarget200-Output.csv
output
tools/ode-0.16.4
Simulator/motoflex_gym/WalkingSimulator.so
**.pyc
wandb
tmp
.venv
Normal.ftn
angle_logs.txt
obs_log.txt
quaternion_log.txt
reward_log.txt
action_logs.txt
optuna_logs.txt
config/*
distance_log.txt
aprc_distance_log.txt
