.DS_Store
Simulator/obj
Simulator/bin
config/200.csv-NaoState0.UncompensatedTarget200-Output.csv
output
tools/ode-0.16.4
Simulator/motoflex_gym/WalkingSimulator.so
**.pyc
wandb
tmp
.venv
Normal.ftn
angle_logs.txt
obs_log.txt
quaternion_log.txt
reward_log.txt
*optuna.db
action_logs.txt
train_log.txt
config/*
config/BestOf.ftn
